@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';


@layer base {
  :root {
    --color-primary: 210deg 79% 46%;
    --color-secondary: 174deg 63% 40%;
    --color-accent: 291deg 64% 42%;
    --color-dark: 0deg 0% 11%;
    --color-light: 0deg 0% 96%;
    --color-dark-page: 0deg 0% 7%;
    --color-light-page: 0deg 0% 90%;
    --color-positive: 134deg 70% 43%;
    --color-negative: 353deg 100% 38%;
    --color-info: 190deg 83% 56%;
    --color-warning: 44deg 88% 58%;
  }
}

@layer components {
  html {
    @apply max-h-screen overflow-hidden;
  }

  body {
    @apply max-h-screen overflow-y-auto;
  }

  div#app {
    @apply min-h-screen min-w-full overflow-hidden;
  }

  html,
  body,
  div#app {
    @apply m-0 bg-gray-100 p-0 text-slate-900 transition-colors dark:bg-slate-700 dark:text-slate-50;
  }

  div,
  p,
  span {
    //change font-family content to appy lexend font
     font-family: "sans";
    @apply leading-normal subpixel-antialiased;
  }

  button {
    @apply relative select-none overflow-hidden leading-none outline-transparent;
  }

  .ps {
    @apply scroll-smooth;
  }
}
